.map-legend {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: auto;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.legend-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.marker-lotissement img {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
    transition: transform 0.2s;
}

.marker-lot img {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
    transition: transform 0.2s;
}

.marker-lotissement img:hover,
.marker-lot img:hover {
    transform: scale(1.1);
}

.pulse-dot {
    width: 16px;
    height: 16px;
    background: #2563eb;
    border-radius: 50%;
    position: relative;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 99, 235, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(37, 99, 235, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(37, 99, 235, 0);
    }
}

.leaflet-container {
    border-radius: 0.5rem;
    z-index: 0 !important;
}

.leaflet-popup-content-wrapper {
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.leaflet-popup-content {
    margin: 0;
    min-width: 200px;
}

.leaflet-popup-close-button {
    padding: 8px !important;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.animate-marquee {
    animation: marquee 35s linear infinite;
}

.animate-marquee-reverse {
    animation: marquee-reverse 35s linear infinite;
}


/* Option: pause au hover sur desktop */

@media (hover: hover) and (pointer: fine) {
    .animate-marquee:hover,
    .animate-marquee-reverse:hover {
        animation-play-state: paused;
    }
}